.login-wrapper {
  height: 90vh;
}
.login-left {
  background-color: lightgoldenrodyellow;
  width: 40%;
  img {
    width: 30rem;
  }
}
.login-right {
  width: 60%;
  height: 100%;
  padding: 2rem;
}

.login-ad {
  gap: 3rem;
  h5 {
    font-size: 1.6rem;
    margin: 0;
  }
  button {
    font-size: 1.6rem;
  }
}

.login-main {
  width: 80%;
  margin: auto;
  margin-top: 2.4rem;
}

form {
  margin: 2rem 0;
  .login-field {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    margin: 2rem 0;
    label {
      font-size: 1.8rem;
    }
    input {
      font-size: 1.6rem;
      padding: 0.6rem;
    }
  }
  .signup-field {
    gap: 0.4rem;
    margin: 0.4rem 0;
    label {
      font-size: 1.6rem;
    }
    input {
      font-size: 1.4rem;
      padding: 0.4rem;
    }
  }

  input[type="submit"] {
    font-size: 1.6rem;
    padding: 0.4rem 3rem;
    border-radius: 1.6rem;
    margin-top: 1rem;
  }
}

@media (max-width: 576px) {
  .login-left {
    display: none !important;
  }
  .login-right {
    width: 100%;
  }
}
